<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Inventário</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="manifest" href="manifest.json" crossorigin="use-credentials" />
  <link rel="icon" type="image/png" href="./assets/appicons/favicon.ico" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="blue" />
  <meta name="apple-mobile-web-app-title" content="Inventário" />
  <link rel="stylesheet" href="../inventario.css" />
  <!--<script src="inventario.js"></script>
  <script src="inventario_sw.js"></script>-->
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root">

  </div>
  
</body>

</html>